/*Products */
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.products li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30rem;
          flex: 0 1 30rem;
  margin: 1rem;
  margin-bottom: 0;
  height: 42rem;
  background-color: #ececec;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.product img {
  max-height: 26rem;
  max-width: 22rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-name {
  line-height: 2.2rem;
}

.product-name a {
  color: black;
}

.product-brand {
  font-size: 1.2rem;
  color: black;
}

.product-price {
  font-size: 2rem;
  color: black;
}

.product-price span {
  font-size: 1.2rem;
}

h2 {
  font-size: 4rem;
  font-family: "Lobster", sans-serif;
}

h3 {
  font-size: 1.5rem;
  font-family: "Lobster", sans-serif;
}

p {
  font-size: 1.5rem;
}

.showcase {
  display: -ms-grid;
  display: grid;
  min-height: 20vh;
  -ms-grid-columns: 10% (minmax(4rem, 1fr))[3] 10%;
      grid-template-columns: 10% repeat(3, minmax(4rem, 1fr)) 10%;
  -ms-grid-rows: 15rem 1fr 15rem;
      grid-template-rows: 15rem 1fr 15rem;
}

.showcase h2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.showcase img {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  height: 40vh;
  width: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.showcase .info {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.showcase .info h3 {
  padding-bottom: 3rem;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
  nav #logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  nav ul li {
    margin-left: 5rem;
  }
  .showcase {
    -ms-grid-columns: 10% 1fr 10%;
        grid-template-columns: 10% 1fr 10%;
  }
  .showcase img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .showcase img,
  .showcase h2,
  .showcase .info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    text-align: center;
  }
  .features {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features h2 {
    margin-top: 5rem;
  }
  .features .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .features .cards .card {
    margin: 5rem 0rem;
  }
  .soon {
    overflow: hidden;
  }
  .soon img {
    width: 60%;
  }
  .soon h2 {
    font-size: 5rem;
    text-align: center;
  }
  footer h1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.features-container {
  background: #323232;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.features-container .wave {
  position: absolute;
  left: 0;
  bottom: -25%;
  width: 100%;
  z-index: -1;
}

.features {
  min-height: 90vh;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

.features .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
}

.features .cards .card {
  background: white;
  margin: 0rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  overflow: hidden;
}

.features .cards .card h4 {
  margin: 2rem 0rem 1rem 0rem;
}

.features .cards .card p {
  padding: 2rem;
}

.features .cards .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 42vh;
  height: 42vh;
}

footer {
  min-height: 10vh;
  background: black;
  padding-left: 10%;
  padding-right: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15rem 1fr 15rem;
      grid-template-rows: 15rem 1fr 15rem;
  -ms-grid-columns: 10% (minmax(4rem, 1fr))[3] 10%;
      grid-template-columns: 10% repeat(3, minmax(4rem, 1fr)) 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-family: "Lobster", sans-serif;
}

#rights {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.soon {
  background: radial-gradient(#525252, #131313);
  min-height: 80vh;
  position: relative;
  z-index: 0;
}

.soon img,
.soon .circle,
.soon h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.soon .circle {
  z-index: -1;
}

.soon h2 {
  top: 25%;
}

.soon img {
  width: 20vh;
  height: 20vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 16px * 62.5 = 10px =1rem */
}

body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
  background-color: black;
  font-family: 'Nunito', sans-serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #EC8C48;
  font-weight: bold;
}

button {
  font: 1.6rem helvetica;
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  border: 0.1rem #404040 solid;
}

button.primary {
  background-color: #f0c040;
}

.fw {
  width: 100%;
}

.success {
  color: #40c040;
}

.error {
  color: #c04040;
}

.grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header' 'main' 'footer';
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 9rem auto 5rem;
      grid-template-rows: 9rem auto 5rem;
  height: 100%;
  margin: auto;
}

header {
  background: radial-gradient(#525252, #131313);
  border-bottom: 1px solid rgba(0, 0, 0, 0.34);
  min-height: 11vh;
  margin-bottom: 2vh;
}

nav {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  padding-right: 1rem;
}

nav a:hover {
  color: #EC8C48;
  font-weight: bold;
}

.brand a {
  font-weight: bold;
  padding-left: 1rem;
}

.brand a img {
  width: 10rem;
  height: 8rem;
  -o-object-fit: contain;
     object-fit: contain;
}

/*Rating*/
.rating {
  color: #f0c040;
  font-size: 1.8rem;
}

.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}

.content {
  padding: 1rem;
}

/* Product Details */
.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.details-image {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 60rem;
          flex: 2 1 60rem;
}

.details-image img {
  max-width: 60rem;
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details-info,
.details-action {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.details-info ul,
.details-action ul {
  padding: 0;
  list-style-type: none;
}

.details-info li,
.details-action li {
  margin-bottom: 1rem;
}

.details-info h1 {
  font-size: 2rem;
  margin: 0;
}

.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

/*cart */
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart-list {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 60rem;
          flex: 3 1 60rem;
}

.cart-action {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
}

.cart-list-container {
  padding: 1rem;
  list-style-type: none;
}

.cart-list-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-list-container img {
  max-width: 10rem;
  max-height: 10rem;
}

.cart-list-container li:first-child {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cart-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.cart-name {
  -webkit-box-flex: 8;
      -ms-flex: 8 1;
          flex: 8 1;
}

.cart-price {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  text-align: right;
}

.cart-name > div {
  padding: 1rem;
}

.cart-list h3 {
  margin: 0;
}

.cart-list button,
.cart-list select {
  font-size: 1.3rem;
  padding: 0.5rem;
}
/*# sourceMappingURL=style.css.map */