@import "./product.scss";
$buttonPrimary: #f0c040;
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 16px * 62.5 = 10px =1rem */
}

body {
    height: 100vh;
    font: 1.6rem Helvetica, Arial;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Nunito', sans-serif;
}

a {
    color: black;
    text-decoration: none;
    &:hover {
        color: #EC8C48;
        font-weight: bold;
    }
}

button {
    font: 1.6rem helvetica;
    padding: 1rem;
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
    cursor: pointer;
    &:hover {
        border: 0.1rem #404040 solid;
    }
}

button.primary {
    background-color: $buttonPrimary;
}

.fw {
    width: 100%;
}

.success {
    color: #40c040;
}

.error {
    color: #c04040;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
    margin: auto;
}

#main_container {
    margin-top: 60px;
}

header {
    grid-area: header;
    background-color: rgba(255, 255, 255, 0.449);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.34);
    height: 8rem;
}

nav {
    flex: 1;
    text-align: right;
    ul {
        display: inline-block;
        list-style: none;
        li {
            display: inline-block;
            margin-right: 20px;
        }
    }
    a {
        text-decoration: none;
        padding-right: 1rem;
        &:hover {
            color: #EC8C48;
            font-weight: bold;
        }
    }
}

.brand a {
    font-weight: bold;
    padding-left: 1rem;
    img {
        width: 10rem;
        height: 8rem;
        object-fit: contain;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    background-color: rgba(255, 255, 255, 0.449);
    padding: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.34);
    height: 8rem;
}


/*Rating*/

.rating {
    color: $buttonPrimary;
    font-size: 1.8rem;
    span:last-child {
        color: #444444;
        font-size: 1.4rem;
    }
}

.content {
    padding: 1rem;
}


/* Product Details */

.details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.details-image {
    flex: 2 1 60rem;
    img {
        max-width: 60rem;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.details-info,
.details-action {
    flex: 1 1 30rem;
}

.details-info ul,
.details-action ul {
    padding: 0;
    list-style-type: none;
}

.details-info li,
.details-action li {
    margin-bottom: 1rem;
}

.details-info h1 {
    font-size: 2rem;
    margin: 0;
}

.details-action {
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    padding: 1rem;
}


/*cart */

.cart {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.cart-list {
    flex: 3 1 60rem;
}

.cart-action {
    flex: 1 1 20rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    padding: 1rem;
}

.cart-list-container {
    padding: 1rem;
    list-style-type: none;
    li {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 0.1rem #c0c0c0 solid;
    }
    img {
        max-width: 10rem;
        max-height: 10rem;
    }
    li:first-child {
        align-items: flex-end;
    }
}

.cart-image {
    flex: 1 1;
}

.cart-name {
    flex: 8 1;
}

.cart-price {
    flex: 1 1;
    text-align: right;
}

.cart-name>div {
    padding: 1rem;
}

.cart-list h3 {
    margin: 0;
}

.cart-list button,
.cart-list select {
    font-size: 1.3rem;
    padding: 0.5rem;
}