/*Products */
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30rem;
          flex: 0 1 30rem;
  margin: 1rem;
  margin-bottom: 0;
  height: 42rem;
  border-top: 0.2rem gray solid;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.product img {
  max-height: 26rem;
  max-width: 22rem;
  margin-top: 2rem;
}

.product-name {
  line-height: 2.2rem;
}

.product-brand {
  font-size: 1.2rem;
  color: darkgray;
}

.product-price {
  font-size: 2rem;
}

.product-price span {
  font-size: 1.2rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 16px * 62.5 = 10px =1rem */
}

body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
  background: radial-gradient(#e1dddd, #6b6c6c5f);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: orange;
}

button {
  font: 1.6rem helvetica;
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  border: 0.1rem #404040 solid;
}

button.primary {
  background-color: #f0c040;
}

.fw {
  width: 100%;
}

.success {
  color: #40c040;
}

.error {
  color: #c04040;
}

.grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header' 'main' 'footer';
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 5rem 1fr 5rem;
      grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

header a {
  color: #ffffff;
  text-decoration: none;
  padding-right: 1rem;
}

header a:hover {
  color: orange;
}

.brand a {
  font-weight: bold;
  font-size: 3rem;
  padding-left: 1rem;
}

footer {
  background-color: #203040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

/*Rating*/
.rating {
  color: #f0c040;
  font-size: 1.8rem;
}

.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}

.content {
  padding: 1rem;
}

/* Product Details */
.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.details-image {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 60rem;
          flex: 2 1 60rem;
}

.details-image img {
  max-width: 60rem;
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details-info,
.details-action {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.details-info ul,
.details-action ul {
  padding: 0;
  list-style-type: none;
}

.details-info li,
.details-action li {
  margin-bottom: 1rem;
}

.details-info h1 {
  font-size: 2rem;
  margin: 0;
}

.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

/*cart */
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart-list {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 60rem;
          flex: 3 1 60rem;
}

.cart-action {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
}

.cart-list-container {
  padding: 1rem;
  list-style-type: none;
}

.cart-list-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-list-container img {
  max-width: 10rem;
  max-height: 10rem;
}

.cart-list-container li:first-child {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cart-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.cart-name {
  -webkit-box-flex: 8;
      -ms-flex: 8 1;
          flex: 8 1;
}

.cart-price {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  text-align: right;
}

.cart-name > div {
  padding: 1rem;
}

.cart-list h3 {
  margin: 0;
}

.cart-list button,
.cart-list select {
  font-size: 1.3rem;
  padding: 0.5rem;
}
/*# sourceMappingURL=style.css.map */